[Unit]
Description= DNS service
After=netcheck.service
Requires=netcheck.service

[Service]
ExecStart=/usr/bin/dns.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=default.target
